{{#[../../layout/layout] htmlWebpackPlugin}}

<h1 class="m-0">DraggerDirection</h1>

<p>
  <a href="https://antonbobrov.github.io/vevet/classes/DraggerDirection.html" target="_blank" rel="noopener noreferrer">Docs</a>
  /
  <a href="https://github.com/antonbobrov/vevet-demo/blob/main/src/pages/dragger-direction/index.ts" target="_blank" rel="noopener noreferrer">Source Code</a>
</p>

<p class="lead">A draggable component that detects the swipe direction (up, down, left, or right) based on the drag event.</p>

<div id="drag-container" class="my-4 d-flex justify-content-center align-items-center">
  Drag inside
</div>

<style>
  #drag-container {
    width: 300px;
    max-width: 100%; 
    aspect-ratio: 1 / 1;
    background-color: #eee;
  }
</style>

{{/[../../layout/layout]}} 