{{#[../../layout/layout] htmlWebpackPlugin}}

<h1 class="m-0">Ctx2D</h1>

<p>
  <a href="https://antonbobrov.github.io/vevet/classes/Ctx2D.html" target="_blank" rel="noopener noreferrer">Docs</a>
  /
  <a href="https://github.com/antonbobrov/vevet-demo/blob/main/src/pages/ctx2d/index.ts" target="_blank" rel="noopener noreferrer">Source Code</a>
</p>

<p class="lead">A class that simplifies working with an HTML5 Canvas element and its 2D context. It can handle automatic resizing and provides helper methods for rendering and managing canvas properties.</p>

<div id="ctx-container"></div>

<style>
  #ctx-container {
    position: relative;
    width: 300px;
    max-width: 100%; 
    aspect-ratio: 1 / 1;
    background-color: #eee;
  }
</style>

{{/[../../layout/layout]}} 