{{#[../../layout/layout] htmlWebpackPlugin}}

<h1 class="m-0">SlideProgress</h1>

<p>
  <a href="https://antonbobrov.github.io/vevet/classes/SlideProgress.html" target="_blank" rel="noopener noreferrer">Docs</a>
  /
  <a href="https://github.com/antonbobrov/vevet-demo/blob/main/src/pages/slide-progress/index.ts" target="_blank" rel="noopener noreferrer">Source Code</a>
</p>

<p class="lead">Slide progress handler. This class manages sliding progress with options like dragging, wheel interactions, and smooth transitions.</p>

<div id="slide-progress" class="my-4">
  <div class="slide" style="background-color: #A8E6CF;">
    Drag me horizontally
  </div>

  <div class="slide" style="background-color: #DCEDC1;">
    Drag me horizontally
  </div>

  <div class="slide" style="background-color: #FFD3B6;">
    Drag me horizontally
  </div>

  <div class="slide" style="background-color: #FFAAA5;">
    Drag me horizontally
  </div>

  <div class="slide" style="background-color: #FF8B94;">
    Drag me horizontally
  </div>
</div>

<style>
  #slide-progress {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .slide {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
</style>

{{/[../../layout/layout]}} 