{{#[../../layout/layout] htmlWebpackPlugin}}

<h1 class="m-0">ScrollView</h1>

<p>
  <a href="https://antonbobrov.github.io/vevet/classes/ScrollView.html" target="_blank" rel="noopener noreferrer">Docs</a>
  /
  <a href="https://github.com/antonbobrov/vevet-demo/blob/main/src/pages/scroll-view/index.ts" target="_blank" rel="noopener noreferrer">Source Code</a>
</p>

<p class="lead">ScrollView detects when elements enter or leave the viewport. It uses the IntersectionObserver API for efficient detection and triggers events when elements are visible or hidden. Supports adding custom delay and class toggling when elements are in view.</p>

<ul>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
  <li class="js-global-view view-element"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></li>
</ul>

<style>
  .view-element {
    opacity: 0;
    transform: scale(0.9);
  }

  .view-element.viewed {
    transition: opacity 0.5s, transform 1s;
    opacity: 1;
    transform-origin: top left;
    transform: scale(1);
  }
</style>

{{/[../../layout/layout]}} 