{{#[../../layout/layout] htmlWebpackPlugin}}

<h1 class="m-0">SectionScrollProgress</h1>

<p>
  <a href="https://antonbobrov.github.io/vevet/classes/SectionScrollProgress.html" target="_blank" rel="noopener noreferrer">Docs</a>
  /
  <a href="https://github.com/antonbobrov/vevet-demo/blob/main/src/pages/section-scroll-progress/index.ts" target="_blank" rel="noopener noreferrer">Source Code</a>
</p>

<p class="lead">SectionScrollProgress is a component that traces the scroll progress of a specified section. It provides the progress of entering the viewport, moving within it, and exiting it.</p>

<hr />

{{!-- SECTIONS --}}

<div class="section js-section" style="background-color: #A8E6CF"></div>

<div class="section js-section" style="background-color: #DCEDC1; height: 150vh;"></div>

<div class="section js-section" style="background-color: #FFD3B6"></div>

{{!-- STYLES --}}

<style>
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100vh;
  }
</style>

{{/[../../layout/layout]}} 