{{#[../layout/layout] htmlWebpackPlugin}}

<h1>Vevet - a JavaScript Library for Creative Development</h1>

<p class="lead">
  <strong>Vevet</strong> is a flexible JavaScript library designed for creative web development. It offers pre-built solutions like smooth scrolling, text splitting, custom cursors, and other interactive components, allowing developers to enhance the visual and functional aspects of their websites.
</p>

<p class="lead">Vevet is highly customizable, seamlessly integrates into existing projects, and provides basic and advanced functionalities for developers aiming to boost site interactivity.</p>

<p class="lead">
  <img src="https://img.shields.io/github/languages/top/antonbobrov/vevet" alt="Top Language">
  <img src="https://img.shields.io/bundlephobia/minzip/vevet" alt="Gzipped Size">
</p>

<h2 id="links">Links</h2>

 <ul class="list-group">
  <li class="list-group-item">
    <a href="https://github.com/antonbobrov/vevet" target="_blank" rel="noopener noreferrer">GitHub</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.npmjs.com/package/vevet" target="_blank" rel="noopener noreferrer">NPM</a>
  </li>
  <li class="list-group-item">
    <a href="https://antonbobrov.github.io/vevet/" target="_blank" rel="noopener noreferrer">Documentation</a>
  </li>
</ul>

{{/[../layout/layout]}} 